<%= render 'shared/mypage' %>
<%= render 'shared/new' %>
<!-- 右側部分は自分が投稿した本の一覧 -->
        <div class='col-xs-9'>
          <h2>Books</h2>

          <table class='table table-hover table-inverse'>
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @user_books.each do |user_book|%>
                <tr>
                  <td>
                    <%= link_to user_path(@user.id), {class: "user_#{@user.id}"} do %>
                      <%= attachment_image_tag @user, :image, :fill, 50, 50, format: 'jpeg',:class => "attachment user profile_image", fallback: "/images/no_image.jpg",size: '50x50', :alt => "Profile image" %>
                      <%= @user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to book_path(user_book.id), {class: "book_#{user_book.id}", id: "new_book"} do %>
                    <%= user_book.book_title %>
                    <% end %>
                  </td>
                  <td>
                    <%= user_book.book_body %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

    </div>
  </div>
</section>
