<section class='body'>
  <div class='container'>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class='row'>

      <div class='col-xs-3'>
        <h2>User info</h2>
        <table class='table'>
          <tr><img class="attachment user profile_image" src="/attachments/fef8a78e33cc23428799070a1e90807ca836d6d5/store/fill/100/100/6c4a9b64ced7b7311302ec2d0431c9e50b15f01e9412d435e439b3f05f0b/profile_image" alt="Profile image" /></tr>
          <tr>
            <th>name</th>
            <th>
              <%= @user.name %>
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%=  %>こんにちは</th>
          </tr>
        </table>

        <!-- 編集ボタン -->
        <div class='row'>
          <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_3337" href="<%= edit_user_path(current_user.id)  %>"></a>
        </div>

        <h2>New book</h2>
        <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="CovBRAE+UkDAUnrf6xsR0Q9HK1Gfcj5ks4HxAAI3PAGuiii2msGky7MYXJD6S12n92K2ggDSVcx6ILzEahGYhA==" />
          <div class="field row">
            <label for="book_title">Title</label>
            <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title" />
          </div>

          <div class="field row">
            <label for="book_opinion">Opinion</label>
            <textarea class="col-xs-12 book_body" name="book[body]" id="book_body">
            </textarea>
          </div>

          <div class="actions row">
            <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" />
          </div>
        </form>

      </div>

      <div class='col-xs-9'>
        <h2>Books</h2>

        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a href="/users/3337">
                <%=  %>
                <img class="attachment user profile_image" src="/attachments/3972390d616ac62a7fd09edfbba758247e7c6205/store/fill/50/50/6c4a9b64ced7b7311302ec2d0431c9e50b15f01e9412d435e439b3f05f0b/profile_image" alt="Profile image" />
                </a>
              </td>
              <td>
                <a class="book_5914" href="/books/5914">
                <%=  %>名前付きルート
                </a>
              </td>
              <td>
                <%=  %>このｎ
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
