<section class='body'>
  <div class='container'>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class='row'>

      <div class='col-xs-3'>
        <h2>User info</h2>
        <table class='table'>
          <tr>
            <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg',:class => "attachment user profile_image", :alt => "Profile image" %>
          </tr>
          <tr>
            <th>name</th>
            <th>
              <%= @user.name %>
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </table>

        <!-- 編集ボタン -->
        <div class='row'>
          <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_3337" href="<%= edit_user_path(current_user.id)  %>"></a>
        </div>

        <%# 部分テンプレー %>
        <%= render 'layouts/new' %>

      </div>
        <%= render 'layouts/show' %>

      <!-- <div class='col-xs-9'>
        <h2>Books</h2>

        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a href="/users/3337">
                <%=  %>
                <img class="attachment user profile_image" src="/attachments/3972390d616ac62a7fd09edfbba758247e7c6205/store/fill/50/50/6c4a9b64ced7b7311302ec2d0431c9e50b15f01e9412d435e439b3f05f0b/profile_image" alt="Profile image" />
                </a>
              </td>
              <td>
                <a class="book_5914" href="/books/5914">
                <%=  %>名前付きルート
                </a>
              </td>
              <td>
                <%=  %>このｎ
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
</section>
