<section class='body'>
  <div class='container'>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<div class='row'>

<div class='col-xs-3'>
  <h2>User info</h2>
  <table class='table'>
    <tr>
      <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg",size: '50x50', :class => "attachment user profile_image", :alt => "Profile image" %>
    </tr>
    <tr>
      <th>name</th>
      <th>
        <%= @user.name %>
      </th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </table>

  <!-- 編集ボタン -->
  <div class='row'>
    <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_3337" href="<%= edit_user_path(current_user.id)  %>"></a>
  </div>
