<%= render 'shared/mypage' %>
<%= render 'shared/new' %>
<!-- 右側部分は自分が投稿した本の一覧 -->
        <div class='col-xs-9'>
          <h2>Book detail</h2>

          <table class='table table-hover table-inverse'>
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    <%= link_to user_path(@user.id) do %>
                      <%= attachment_image_tag @user, :image, :fill, 50, 50, format: 'jpeg',:class => "attachment user profile_image", fallback: "no_image.jpg",size: '50x50', :alt => "Profile image" %>
                      <%= @user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to book_path(@abook.id), html: {class: "book_#{@abook.id}", id: "new_book"} do %>
                    <%= @abook.book_title %>
                    <% end %>
                  </td>
                  <td>
                    <%= @abook.book_body %>
                  </td>
                  <% if current_user.id == @user.id %>
                    <td>
                      <%= link_to edit_book_path(@abook.id), html: {class: "btn-sm btn-success edit_book_#{@abook.id}", id: "new_book"} do %>
                      Edit
                      <% end %>
                    </td>
                    <td>
                      <%= link_to book_path(@abook.id), method: :delete, html: {class: "btn-sm btn-danger destroy_book_#{@abook.id}", }, data: {confirm: "本当に消しますか？"} do %>
                      Destroy
                      <% end %>
                    </td>
                  <% end %>
                </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
</section>
